<launch>
  <arg name="obj_num" value="10" />
  <arg name="drone_id" value="0" />

  <arg name="odom_topic" value="/mavros/local_position/odom" />
  <arg name="pose_topic" value="/mavros/local_position/pose" />

  <arg name="init_x" value="-10" />
  <arg name="init_y" value="0.0" />
  <arg name="init_z" value="0.5" />
  <arg name="goal_x" value="40" />
  <arg name="goal_y" value="0.0" />
  <arg name="goal_z" value="0.5" />

  <group ns="uav$(arg drone_id)">
    <!-- <node pkg="rast_corridor_planning" name="mapping" type="mapping" output="screen"> -->
    <node pkg="rast_corridor_planning" name="mapping" type="mapping">
      <rosparam file="$(find rast_corridor_planning)/config/cfg.yaml" command="load" />
    </node>

    <node pkg="rast_corridor_planning" name="planning" type="multi_planning_node" output="screen">
      <rosparam file="$(find rast_corridor_planning)/config/cfg.yaml" command="load" />
      <param name="p_goal_x" value="$(arg goal_x)" />
      <param name="p_goal_y" value="$(arg goal_y)" />
      <param name="p_goal_z" value="$(arg goal_z)" />
      <remap from="~future_risk_full_array" to="mapping/future_risk_full_array" />
    </node>

    <node pkg="traj_server" name="traj_server" type="poly_traj_server">
      <remap from="~trajectory" to="/uav$(arg drone_id)/planning/trajectory" />
      <remap from="/position_cmd" to="/uav$(arg drone_id)/planning/pos_cmd" />
      <remap from="~odom" to="$(arg pose_topic)" />
    </node>

  </group>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find rast_corridor_planning)/rviz/gazebo.rviz" />
</launch>