<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${node}][${severity}]:${message}"/>
  <!-- start node -->
  <arg name="nr" default="1" />

  <group ns="uav0">
    <node pkg="pva_tracker" 
            name="tracker" 
            type="tracker_sim" 
            output="screen">
      <remap from="pva_setpoint" to="tracker/pva_cmd" />
    </node>
  </group>

  <group ns="uav1">
    <node pkg="pva_tracker" 
            name="tracker" 
            type="tracker_sim" 
            output="screen">
      <remap from="pva_setpoint" to="tracker/pva_cmd" />
    </node>
  </group>

</launch>
